@font-face {
   font-family: FutureFont;
   src: url(fonts/futurefont.woff2);
}
@font-face {
   font-family: BoldFont;
   src: url(fonts/boldfont.woff2);
}

html{
	background-image: url(image/bg.jpg);
}
body{
	width: 850px;
	margin:auto;
}
#pagewrap{
	width:850px;		
	height:1200px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
position:relative;
top:-20px;
}
#bodywrapperbig{
	width:850px;		
	height:1200px;
	margin-left:auto;
	margin-right:auto;

}

#bodywrapouter{
	width:850px;		
	height:1140px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(255, 255, 255);

}

#header{
	width:810px;		
	height:83px;
	margin-left:auto;
	margin-right:auto;
	position: relative; 
    	top: 25px;
}

#headercontent{
	width:810px;		
	height:80px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(1, 31, 91);
}
#headercontent p{
position: relative; 
    	top: 15px;
	left:-10px;
text-align: right;
font-family:FutureFont;
color: rgb(255, 255, 255);
font-size: 110%


}
#contentwrapbig{
	width:810px;		
	height:627px;
	margin-left:auto;
	margin-right:auto;
	position: relative; 
    	top: 25px;
}
#homebanner{
	width:810px;		
	height:375px;
	margin-left:auto;
	margin-right:auto;
background-image: url(image/BannerPhoto.png);
position:relative;
top:-85px;
	
}
#bannerslider{
	width:810px;		
	height:275px;
	margin-left:auto;
	margin-right:auto;
	position: relative; 
    	top: 70px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#navigation{
	width:810px;		
	height:30px;
	background-color: rgb(1, 31, 91);
	margin-left:auto;
	margin-right:auto;
	position: relative; 
    	top: 60px;
}
#bodytextsmall{
	width:810px;		
	height:624px;
	margin-left:auto;
	margin-right:auto;
	position: relative; 
    	top: -70px;
	font-size:110%;
}
#bodytextsmall p
{
	margin:2px;
	padding:0px;
}
#AboutMetitle
{
font-family: BoldFont;
color: rgb(63, 63, 63);
margin-top:5px;
font-size:130%;
}
#AboutMetitle h2
{	text-align: center;
	position: relative;
	top: -15px;
}

#footercontent{
	width:850px;		
	height:115px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(238, 238, 238);
	position: relative; 
    	top: 233px;
	font-family:FutureFont;
	font-size:125%;
}
#footercontent p{
	margin-left:10px;
	margin-right:10px;
	position: relative;
	top:10px;}
#footercontent2{
	width:850px;		
	height:53px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(1, 31, 91);
	position: relative; 
    	top: 180px;
}
#footercontent2 nav ul{
list-style: none;
padding:0;
text-align: right;
}
#footercontent2 nav ul li{
display: inline;
letter-spacing: 2px;
margin-right: 10px;
padding-right: 10px;
font-family:FutureFont;
font-size: 70%;
}
#foortercontent2 nav a{
color: rgb(255,255,255);
text-decoration: none;
}
nav ul{
list-style: none;
padding:0;
text-align: center;
}
nav ul li{
display: inline;
letter-spacing: 2px;
margin-right: 10px;
padding-right: 10px;
font-family:FutureFont;
}
nav a{
color: rgb(255,255,255);
text-decoration: none;
}
nav{position: relative; 
    top: 5px;}
#footercontent2 nav{position: relative; 
    top: 15px;}

.css-slideshow{
  position: relative;
  max-width: 495px;
  height: 300px;
  margin: 5em auto .5em auto;
left:205px;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 300px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;

  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow figcaption {
text-decoration:none;

}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}

figure:nth-child(1) {
  animation: xfade 24s 18s infinite;
}
figure:nth-child(2) {
  animation: xfade 24s 12s infinite;
}
figure:nth-child(3) {
  animation: xfade 24s 6s infinite;
}
figure:nth-child(4) {
  animation: xfade 24s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25.5% {
    opacity: 1;
  }
  27.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
