@font-face {
  font-family: FutureFont;
  src: url(fonts/futurefont.woff2);
}

@font-face {
  font-family: BoldFont;
  src: url(fonts/boldfont.woff2);
}

html {
  background-image: url(image/bg.jpg);
}

body {
  width: 1180px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  background: rgb(213, 226, 255);
  height: 35px;
  width: 110px;
  line-height: 20px;
  margin: 10px 10px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  position: relative;
  top: -35px;
  left: 90px;
}

button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: FutureFont;
  font-size: 17px;
}

button a:hover {
  color: rgb(255, 255, 255);
}

button:hover {
  background: rgb(153, 217, 234);
  color: rgb(255, 255, 255);
}

#pagewrap {
  width: 1180px;
  height: 1480px;
  margin-left: auto;
  margin-right: auto;
}

#bodywrapperbig {
  width: 1180px;
  height: 1480px;
  margin-left: auto;
  margin-right: auto;
}

#bodywrapouter {
  width: 850px;
  height: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

#header {
  width: 810px;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 25px;
}

#headercontent {
  width: 810px;
  height: 80px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(1, 31, 91);
}

#headercontent p {
  position: relative;
  top: 15px;
  left: -10px;
  text-align: right;
  font-family: FutureFont;
  color: rgb(255, 255, 255);
  font-size: 110%
}

#contentwrapbig {
  width: 810px;
  height: 627px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 25px;
}

#homebanner {
  width: 810px;
  height: 205px;
  margin-left: auto;
  margin-right: auto;
}

#bannerslider {
  width: 810px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(image/BannerPhoto.png);
  position: relative;
  top: -10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#navigation {
  width: 810px;
  height: 30px;
  background-color: rgb(1, 31, 91);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -25px;
}

#bodytextsmall {
  width: 810px;
  height: 1064px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -10px;
  font-size: 110%;
}

#bodytextsmall p {
  margin: 2px;
  padding: 0px;
}
.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.overlay {
  position: absolute;
  top: -55px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 33%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px)
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
#AboutMetitle {
  font-family: BoldFont;
  color: rgb(63, 63, 63);
  margin-top: 5px;
  font-size: 130%;
}

#AboutMetitle h2 {
  text-align: center;
  position: relative;
  top: -15px;
}

#bodytextsmall p {
  position: relative;
  top: -40px;
}

#Content {
  width: 810px;
  height: 1200px;
  margin: auto;
  position: relative;
  top: -20px;
}
#ContentAbstract{
  float:left;
  width:446px;
  height:420px;
  position:relative;
  left:2%;  
  border-bottom:solid;
  border-width:2px;
  border-color:rgb(120,120,120);
}
#Content img{
  float:right;
  position:relative;
  left:-3%;
}
#Content button{
  position:relative;
  top:50px;
  left:120px;
}
#Content h3{
text-align:center;
  position:relative;
  top:-7%;
}
#content2{
  width:100%;
  position:relative;
  top:4%;
}
#content2 p{
  float:left;
  width:96%;
  position:relative;
  left:2%;
}
#Mtach{
float:left;
border-top:solid;
border-width:2px;
  border-color:rgb(120,120,120);
position:relative;
top:20px;
}
#Mtach h3{
float:left;
margin-left:5%;
}
#Mtach p{
float:left;
position:relative;
top:-15px;
}
#Mtach ul{
float:left;
position:relative;
top:-35px;
list-style-type: circle;
}
#Mtach li{
display:inline;
margin:0px 8px;
}
#Mtach li:before{
content: '\00a\2022\00a0\00a0';
	color:#999;
	color:rgb(0,0,0);
}
#Mdoc{
float:left;
border-top:solid;
border-width:2px;
  border-color:rgb(120,120,120);
position:relative;
top:20px;
}
#Mdoc h3{
float:left;
margin-left:5%;
}
#Mdoc p{
float:left;
position:relative;
top:-15px;
}
#Mrotor{
float:left;
border-top:solid;
border-width:2px;
  border-color:rgb(120,120,120);
position:relative;
top:20px;
}
#Mrotor h3{
float:left;
margin-left:5%;
}
#Mrotor p{
float:left;
position:relative;
top:-15px;
}
#footercontent {
  width: 850px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238, 238, 238);
  position: relative;
  top: -173px;
  left: -20px;
  font-family: FutureFont;
  font-size: 125%;
}

#footercontent p {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 25px;
}

#footercontent2 {
  width: 850px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(1, 31, 91);
  position: relative;
  top: -195px;
  left: -20px;
}

#footercontent2 nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

#footercontent2 nav ul li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-right: 10px;
  font-family: FutureFont;
  font-size: 70%;
}

#foortercontent2 nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-right: 10px;
  font-family: FutureFont;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 0, 0);
}

nav {
  position: relative;
  top: 5px;
}

#footercontent2 nav {
  position: relative;
  top: 15px;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #eee;
}
.loader p{
font-size:200%;
color:rgb(0,0,0);
font-family:FutureFont;
width:100px;
margin-left:auto;
margin-right:auto;
position:relative;
top:300px;
}
.circle{
    width: 180px;
    height: 180px;
    border: 10px inset rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 200px;
    -moz-animation: rotate 5s infinitelinear;
    -webkit-animation: rotate 5s infinite linear;
    animation: rotate 5s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-small{
    width: 150px;
    height: 150px;
    border: 6px outset rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -81px;
    margin-top: -81px;
    border-radius: 156px;
    -moz-animation: rotate-rev 3s infinite linear;
    -webkit-animation: rotate-rev 3s infinite linear;
    animation: rotate-rev 3s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-big{
    width: 210px;
    height: 210px;
    border: 4px dotted rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -109px;
    margin-top: -109px;
    border-radius: 214px;
    -moz-animation: rotate-rev 10s infinite linear;
    -webkit-animation: rotate-rev 10s infinite linear;
    animation: rotate-rev 10s infinite linear;
}

.circle-inner{
    width: 80px;
    height: 80px;
    background-color: rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 80px;
    -moz-animation: pulse 1.5s infinite ease-in;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-inner-inner{
    width: 100px;
    height: 100px;
    background-color: rgb(74,124,134);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 100px;
    -moz-animation: pulse 1.5s infinite ease-in;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


/*==============ANIMATIONS=================*/

/*==============ROTATE=====================*/

@-moz-keyframes rotate{
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*==============ROTATE-REV=================*/

@-moz-keyframes rotate-rev{
	0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes rotate-rev{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}

@keyframes rotate-rev{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

/*==============PULSE======================*/

@-moz-keyframes pulse{
	0% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -moz-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
}

@-webkit-keyframes pulse{
	0% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -webkit-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
}

@keyframes pulse{
	0% {
        transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        transform: scale(1);
        opacity: 0.8;
    }
  100% {
        transform: scale(0.1);
        opacity: 0.2;
    }
}
.render{
background-size: 810 auto;


}