@font-face {
  font-family: FutureFont;
  src: url(fonts/futurefont.woff2);
}
@font-face {
  font-family: Futura-Com;
  src: url(fonts/Futura-Com.woff2);
}
@font-face {
  font-family: Bold-Font;
  src: url(fonts/Bold.woff2);
}

html {
  background-image: url(image/bg.jpg);
}

body {
  width: 1180px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  background: rgb(213, 226, 255);
  height: 35px;
  width: 110px;
  line-height: 20px;
  margin: 10px 10px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  position: relative;
  top: -35px;
  left: 90px;
}

button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: FutureFont;
  font-size: 17px;
}

button a:hover {
  color: rgb(255, 255, 255);
}

button:hover {
  background: rgb(153, 217, 234);
  color: rgb(255, 255, 255);
}

#pagewrap {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

#bodywrapperbig {
  width: 1180px;
  height: 8460px;
  margin-left: auto;
  margin-right: auto;
}

#bodywrapouter {
  width: 850px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

#header {
  width: 810px;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 25px;
}

#headercontent {
  width: 810px;
  height: 80px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(1, 31, 91);
}

#headercontent p {
  position: relative;
  top: 15px;
  left: -10px;
  text-align: right;
  font-family: FutureFont;
  color: rgb(255, 255, 255);
  font-size: 110%
}

#contentwrapbig {
  width: 810px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 25px;
}

#homebanner {
  width: 810px;
  height: 205px;
  margin-left: auto;
  margin-right: auto;
}

#bannerslider {
  width: 810px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(image/BannerLego.png);
  position: relative;
  top: -10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#navigation {
  width: 810px;
  height: 30px;
  background-color: rgb(1, 31, 91);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -26px;
}
#bodytextsmall {
  width: 810px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -35px;
  font-size: 100%;
  font-family:Futura-Com;
  font-weight:500;
}
#C1{
position:relative;
top:30px;
margin-bottom: 50px;
}
#vid1{position:relative;
top:30px;
}
#C3{
position:relative;
top:30px;
}
#C4{
position:relative;
top:30px;
}
#C5{
position:relative;
top:30px;
}
.change{
width:auto;
height:100%;
display:none;
color:rgb(255,255,255);
font-family:FutureFont;
}
.change h1{
width:380px;
height:50px;
margin-left:auto;
margin-right:auto;
}
.descip{
width:50%;
margin-left:auto;
margin-right:auto;
position:relative;
top:50px;
}
#Lego1{
background-image: url(image/lego1.jpg);
    background-size: 810px 500px;
    width: 810px;
    height: 500px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego1:hover .change{
display:flex;
background:rgba(19,67,125,.75);
}
#Lego2{
background-image: url(image/lego2.jpg);
    background-size: 810px 500px;
    width: 810px;
    height: 500px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego2:hover .change{
display:flex;
background:rgba(19,67,125,.75);
}
#Lego3{
background-image: url(image/lego3.jpg);
    background-size: 810px 500px;
    width: 810px;
    height: 500px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
}
#Lego3:hover .change{
display:flex;
background:rgba(142,172,26,.75);
}
#Lego4{
background-image: url(image/lego4.jpg);
    background-size: 810px 500px;
    width: 810px;
    height: 500px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego4:hover .change{
display:flex;
background:rgba(206,153,30,.75);
}
#Lego5{
background-image: url(image/lego5.jpg);
    width: 810px;
    height: 312px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego5:hover .change{
display:flex;
background:rgba(200,100,10,.75);
}
#Lego6{
background-image: url(image/lego6.jpg);
    width: 810px;
    height: 432px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego6:hover .change{
display:flex;
background:rgba(10,100,10,.75);
}
#Lego7{
background-image: url(image/lego2pic1.png);
    width: 810px;
    height: 536px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego7:hover .change{
display:flex;
background:rgba(10,160,10,.75);
}
#Lego8{
background-image: url(image/lego2pic2.png);
    width: 810px;
    height: 536px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego8:hover .change{
display:flex;
background:rgba(19,67,125,.75);
}
#Lego9{
background-image: url(image/lego2pic3.png);
    width: 810px;
    height: 536px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego9:hover .change{
display:flex;
background:rgba(10,130,10,.75);
}
#Lego10{
background-image: url(image/lego2pic4.png);
    width: 810px;
    height: 536px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego10:hover .change{
display:flex;
background:rgba(130,16,10,.75);
}
#Lego11{
background-image: url(image/lego2pic5.png);
    width: 810px;
    height: 536px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#Lego11:hover .change{
display:flex;
background:rgba(206,153,30,.75);
}
#footercontent {
  width: 850px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238, 238, 238);
  position: relative;
  left: -20px;
  top:45px;
  font-family: FutureFont;
  font-size: 125%;
}

#footercontent p {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 25px;
}

#footercontent2 {
  width: 850px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(1, 31, 91);
  position: relative;
  top: 10px;
  left: -20px;
}

#footercontent2 nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

#footercontent2 nav ul li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-right: 10px;
  font-family: FutureFont;
  font-size: 70%;
}

#foortercontent2 nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-right: 10px;
  font-family: FutureFont;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 0, 0);
}

nav {
  position: relative;
  top: 5px;
}

#footercontent2 nav {
  position: relative;
  top: 15px;
}
header {
    background: rgb(1,31,91);
    color: #fff;
    width: 80px;
    font-family:FutureFont;
    height:270px;
    position: fixed;
top:340px;
    padding: 10px;
border-radius:20px;
  border-bottom-right-radius:20px;
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.7s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.7s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header ul li{
    margin-top: 12px
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-460px);
    }
    100% {
        -moz-transform: translateX(0px);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateX(-460px);
    }
    100% {
        -webkit-transform: translateX(0px);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateX(-460px);
    }
    100% {
        transform: translateX(0px);
    }
}
header a {
     color: #eee;
     text-decoration: none;
}
img{
margin-top:20px;
margin-bottom:20px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}
#slider{
  width:810px;
  height:540px;
  margin-left:auto;
  margin-right:auto;
 color:rgb(255,255,255); background:url(image/lego8.jpg);
  transition:all 0.3s ease-in;
  box-shadow:10px 10px 20px rgba(0,0,0,0.75);
}
#slider:hover{
  background-position: right; 
  transition:all .8s ease-in;
}
#Caption{
  width:35%;
  height:100%;
  margin-left:auto;
  background-color:rgba(20,20,200,0);

}
#slider h2, #SliderText{
  display:block;
  color:rgba(255,255,255,0);
}
#slider h2{
  float:right;
  position:relative;
  top:40px;
  left:-50px;
}
#SliderText{
  width:200px;
  float:right;
 position:relative;
  top:50px;
left:-30px;

    font-size:16px;
}
#slider:hover #Caption{
  background-color:rgba(20,20,200,0.6);
  transition:all 1s ease-in;
}
#slider:hover p{
  color:rgba(255,255,255,1);
  transition:all 2.3s ease-in;
}
#slider:hover h2{
  color:rgba(255,255,255,1);
  transition:all 2.3s ease-in;
}