@font-face {
  font-family: FutureFont;
  src: url(fonts/futurefont.woff2);
}
@font-face {
  font-family: Futura-Com;
  src: url(fonts/Futura-Com.woff2);
}
@font-face {
  font-family: Bold-Font;
  src: url(fonts/Bold.woff2);
}

html {
  background-image: url(image/bg.jpg);
}

body {
  width: 1180px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
  background: rgb(213, 226, 255);
  height: 35px;
  width: 110px;
  line-height: 20px;
  margin: 10px 10px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  position: relative;
  top: -35px;
  left: 90px;
}

button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: FutureFont;
  font-size: 17px;
}

button a:hover {
  color: rgb(255, 255, 255);
}

button:hover {
  background: rgb(153, 217, 234);
  color: rgb(255, 255, 255);
}

#pagewrap {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

#bodywrapperbig {
  width: 1180px;
  height: 8460px;
  margin-left: auto;
  margin-right: auto;
}

#bodywrapouter {
  width: 850px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

#header {
  width: 810px;
  height: 83px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 25px;
}

#headercontent {
  width: 810px;
  height: 80px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(1, 31, 91);
}

#headercontent p {
  position: relative;
  top: 15px;
  left: -10px;
  text-align: right;
  font-family: FutureFont;
  color: rgb(255, 255, 255);
  font-size: 110%
}

#contentwrapbig {
  width: 810px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 25px;
}

#homebanner {
  width: 810px;
  height: 205px;
  margin-left: auto;
  margin-right: auto;
}

#bannerslider {
  width: 810px;
  height: 175px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(image/PowerOff3.png);
  position: relative;
  top: -10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#navigation {
  width: 810px;
  height: 30px;
  background-color: rgb(1, 31, 91);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -25px;
}
#bodytextsmall {
  width: 810px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -35px;
  font-size: 100%;
  font-family:Futura-Com;
  font-weight:500;
}
#C1{
border-top-style:solid;
border-width:2px;
border-color:rgb(200,200,200);
}
#C2{
border-top-style:solid;
border-width:2px;
border-color:rgb(200,200,200);
}
#C3{
border-top-style:solid;
border-width:2px;
border-color:rgb(200,200,200);
}
#C3 ul{
list-style-type: decimal;
}
#C4{
border-top-style:solid;
border-width:2px;
border-color:rgb(200,200,200);

}
#C4 img{
width:810px
height:auto;
}
#C5{
position:relative;
top:20px;
border-top-style:solid;
border-width:2px;
border-color:rgb(200,200,200);

}
#C6{
position:relative;
top:10px;
border-top-style:solid;
border-width:2px;
border-color:rgb(200,200,200);
}
#Awards p{
text-align:center;
}
#Awards{
border-top-style:solid;
border-width:2px;
border-color:rgb(200,200,200);
}


#footercontent {
  width: 850px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(238, 238, 238);
  position: relative;
  left: -20px;
  top:10px;
  font-family: FutureFont;
  font-size: 125%;
}

#footercontent p {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 25px;
}

#footercontent2 {
  width: 850px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(1, 31, 91);
  position: relative;
  top: -25px;
  left: -20px;
}

#footercontent2 nav ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

#footercontent2 nav ul li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-right: 10px;
  font-family: FutureFont;
  font-size: 70%;
}

#foortercontent2 nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  letter-spacing: 2px;
  margin-right: 10px;
  padding-right: 10px;
  font-family: FutureFont;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 0, 0);
}

nav {
  position: relative;
  top: 5px;
}

#footercontent2 nav {
  position: relative;
  top: 15px;
}
header {
    background: rgb(1,31,91);
    color: #fff;
    width: 90px;
    font-family:FutureFont;
    height:300px;
    position: fixed;
top:340px;
    padding: 10px;
border-radius:20px;
  border-bottom-right-radius:20px;
-webkit-transform:translate(-500px);
	    -moz-transform: translate(-500px);

}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header ul li{
    margin-top: 12px
}
.toggled {

            -webkit-transform:translate(0px);
	    -moz-transform: translate(0px);
-webkit-transition: -webkit-transform 1.5s ease-in-out;

}
header a {
     color: #eee;
     text-decoration: none;
}
#pagetitle{
text-align:center;
	font-family:Bold-Font;
}
#pagetitle h1{
position:relative;
top:15px;
}
img{
display: block;
margin-left:auto;
margin-right:auto;
}

footer .button-3d{
  display:block;
  width:123px;
  position:relative;
  top:-162px;
  left:342px;
  background-color:rgb(245,73,94);
border-color:rgb(245,73,94);
box-shadow: 0px 6px 0px rgb(121,6,21); 
}
footer .button-3d:hover{
position:relative;
  top:-162px;
  left:342px;
}
.button-3d {
  position:relative;
  width: 100px;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px rgb(245,73,94);
  background:rgb(245,73,94);
  text-align:center;
  padding:16px 18px 14px;
  margin: 12px;
  
  -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
  -webkit-box-shadow: 0px 6px 0px rgb(121,6,21);
  -moz-box-shadow: 0px 6px 0px rgb(121,6,21);
  box-shadow: 0px 6px 0px rgb(121,6,21);
margin-left:40%;
}

.button-3d:active{
    -webkit-box-shadow: 0px 2px 0px rgb(121,6,21);
    -moz-box-shadow: 0px 2px 0px rgb(121,6,21);
    box-shadow: 0px 2px 0px rgb(121,6,21);
    position:relative;
    top:4px;
}
:target {
    display:block;
}
footer{
  display:none;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #eee;
}
.loader p{
font-size:200%;
color:rgb(0,0,0);
font-family:FutureFont;
width:100px;
margin-left:auto;
margin-right:auto;
position:relative;
top:300px;
}
.circle{
    width: 180px;
    height: 180px;
    border: 10px inset rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 200px;
    -moz-animation: rotate 5s infinitelinear;
    -webkit-animation: rotate 5s infinite linear;
    animation: rotate 5s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-small{
    width: 150px;
    height: 150px;
    border: 6px outset rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -81px;
    margin-top: -81px;
    border-radius: 156px;
    -moz-animation: rotate-rev 3s infinite linear;
    -webkit-animation: rotate-rev 3s infinite linear;
    animation: rotate-rev 3s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-big{
    width: 210px;
    height: 210px;
    border: 4px dotted rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -109px;
    margin-top: -109px;
    border-radius: 214px;
    -moz-animation: rotate-rev 10s infinite linear;
    -webkit-animation: rotate-rev 10s infinite linear;
    animation: rotate-rev 10s infinite linear;
}

.circle-inner{
    width: 80px;
    height: 80px;
    background-color: rgb(133,224,242);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 80px;
    -moz-animation: pulse 1.5s infinite ease-in;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.circle-inner-inner{
    width: 100px;
    height: 100px;
    background-color: rgb(74,124,134);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 100px;
    -moz-animation: pulse 1.5s infinite ease-in;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


/*==============ANIMATIONS=================*/

/*==============ROTATE=====================*/

@-moz-keyframes rotate{
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*==============ROTATE-REV=================*/

@-moz-keyframes rotate-rev{
	0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes rotate-rev{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}

@keyframes rotate-rev{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

/*==============PULSE======================*/

@-moz-keyframes pulse{
	0% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -moz-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
}

@-webkit-keyframes pulse{
	0% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -webkit-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
}

@keyframes pulse{
	0% {
        transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        transform: scale(1);
        opacity: 0.8;
    }
  100% {
        transform: scale(0.1);
        opacity: 0.2;
    }
}