<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="header">
	<div class="headertop">
		<div class="PageTitle"><div class="HeadTitle">{{ site.title }}</div></div>
		<div class="Quote">{{ site.quote}}</div>
		<br style="clear:both;"/>
	</div>
	<div class="MidImage" style="height:250px;width:100%;background:url({{page.headerimg}}) center center;background-size: cover;"></div>
	<div class="navigation">
	<nav>
		<a href="/index.html">Home</a>
		<a href="/projects.html">Projects</a>
		<a href="/hobbies.html">Hobbies</a>
		<a href="/awards.html">Awards</a>
		<a href="/experiences.html">Experiences</a>
	</nav>
	</div>
</div>
